[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-datafiles = "*"
flake8 = "*"
python-coveralls = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
build = "*"
wheel = "*"
rstcheck = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true