[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-datafiles = "*"
ruff = "*"
python-coveralls = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
build = "*"
wheel = "*"
rstcheck = "*"
vfxnaming = {editable=true, path="."}

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true