[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-datafiles = "*"
flake8 = "*"
cgx_naming = {editable = true,path = "."}
python-coveralls = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"

[packages]
six = "*"
